<a href="https://colab.research.google.com/github/eildes06/pythonstudies/blob/main/loopsandfunction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
for name in ["chris","su"]:
    print(name)

chris
su

In [5]:
for index in range(0,2):
  print(index)

0
1

In [10]:
names=["chi", "su"]
index=0
while index < len(names):
      print(names[index])
      index=index+1

chi
su

In [12]:
people=["chi", "sus"]
for name in people:
    print(name)

chi
sus

In [14]:
import datetime
def print_time():
    print("task cop")
    print(datetime.datetime.now())
    print()

In [15]:
first_name="su"
print_time()
for x in range(0,10):
  print(x)
  print_time()

task cop
2022-01-20 22:02:14.569618

0
task cop
2022-01-20 22:02:14.573432

1
task cop
2022-01-20 22:02:14.574922

2
task cop
2022-01-20 22:02:14.576249

3
task cop
2022-01-20 22:02:14.577226

4
task cop
2022-01-20 22:02:14.577305

5
task cop
2022-01-20 22:02:14.577368

6
task cop
2022-01-20 22:02:14.585118

7
task cop
2022-01-20 22:02:14.585219

8
task cop
2022-01-20 22:02:14.585291

9
task cop
2022-01-20 22:02:14.585372

In [ ]:
from datetime import datetime

In [16]:
first_name= input("ur name:")
first_name_initial= first_name[0:1]

middle_name= input("mid name: ")
middle_name_initial= middle_name[0:1]
sur_name= input("ur name:")
sur_name_initial= sur_name[0:1]
print("Ur initial are: "+ first_name_initial \
      +middle_name_initial + sur_name_initial)

ur name:emilly
mid name: lei
ur name:urs
Ur initial are: elu

In [17]:
def get_initial(name):
  initial = name[0:1]
  return initial
first_name= input("ur name:")
first_name_initial= get_initial(first_name[0:1])

middle_name= input("mid name: ")
middle_name_initial= get_initial(middle_name[0:1])
sur_name= input("ur name:")
sur_name_initial= get_initial(sur_name[0:1])
print("Ur initial are: "+ first_name_initial \
      +middle_name_initial + sur_name_initial)

ur name:emily
mid name: sa
ur name:urs
Ur initial are: esu

In [ ]:
def get_initial(name)
     initial =[0:1].upper()
     return initial