<a href="https://colab.research.google.com/github/eildes06/pythonstudies/blob/main/numbers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
num1=3
num2=7
print(num1+num2)
print(num1-num2)
print(num1**num2)
print(num1*num2)
print(num1%num2)
print(num1/num2)

10
-4
2187
21
3
0.42857142857142855

In [5]:
days_feb= 28
print(days_feb+ 'days in feb')

TypeError: ignored

In [6]:
days_feb= 28
print(str(days_feb)+ 'days in feb')

28days in feb

In [8]:
no1="2"
no2="7"
print(no1+no2)

27

In [9]:
no1=2
no2=7
print(no1+no2)

9

In [10]:
num1=input("enter first")
num2=input("enter second")
print(num1+num2)

enter first3
enter second5
35

In [13]:
num1=int(input("enter first"))
num2=int(input("enter second"))
print(num1+num2)

enter first5
enter second8
13

In [14]:
num1=input("enter first")
num2=input("enter second")
print(int(num1+num2))

enter first7
enter second6
76

In [15]:
num1=input("enter first")
num2=input("enter second")
print(int(num1)+int(num2))

enter first67
enter second78
145

In [16]:
pi= 3.14
print(pi)

3.14

In [17]:
number1=5
number2=4
print(number1/number2)

1.25